.nav {
  background-color: #999;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navUl {
  display: flex;
  justify-content: space-around;
}

.navLi {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navLi:hover {
  background-color: #ddd;
  color: black;
}

.navLi:active {
  background-color: #4caf50;
  color: white;
}
